<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>HOME</title>
<link rel="shortcut icon" href="images/NSCoding-feature.png" type="image/x-icon" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="acceuil01.css">	<head>
<body>
<script>

</script>
<header class="head1">
    <a>
       <a href="/"> <img src="images/NSCoding-feature.png" height=70px width="70px"></a>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/profile">Bonjour : <%=nom%> <%=prenom%></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#contacter">Contactez-nous</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a onclick="return decnx();" href="destroy_session"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    </div>
</header>
<p style="text-align: center" class="SUD">
    SUD-Cloud<
</p>
<div class="card">

    <div class="container">

        <p>SUD-Cloud</p>
        <p> SUD , est un service de stockage</p> <p>et de partage de fichiers dans le cloud</p> <p>lancé par la société OA3</p>.<p>SUD. Les utilisateurs peuvent rechercher </p><p>les fichiers partagés publiquement sur SUD</p> <p>par l'entremise de moteurs de recherche Web.</p>
    </div>
</div>


<a href="inscrire"><button class="btns">On commance >>> </button></a>


<br><br><br><br><br><br><br><br><br>
<div class="Copyrightes">
    <div class="contacter" id="contacter">
        <br><br>
        <form>
            <input type="text" name="Email" placeholder="Email" style="background: transparent; border: 1px solid #808080;height : 30px;width: 200px; color:#808080 ;" ><br><br><br>
            <input type="text" name="Nom" placeholder="Nom" style="background: transparent; border: 1px solid #808080; height: 30px; width: 200px; color:#808080"><br><br><br>
            <TEXTAREA  style="background: transparent; border: 1px solid #808080; height: 100px; width: 200px; color:#808080">
            </TEXTAREA>  <br><br>
            <input type="submit" name="Envoyer" value="Envoyer" style="margin-left: 140px; background-color: rgb(191, 128, 64); border: none; height: 30px;  color: white;">
        </form>
    </div>

    <div class="contacter" >
        <br><br>
        <span>CONTACTEZ-NOUS  :  </span><br><br><br>
        <span>Tel : </span><br><br><br>
        <span>Adresse : </span><br><br><br>
        <span>© 2020 par Oussama Arifallah. All right reserved </span><br><br><br>
    </div>
</div>

</body>
</head>

</html>